<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO</title>
  </head>
  <body>
    <form method="POST" action="">
      {% csrf_token %}
      <input type="text" name="title" placeholder="Add a task" />
      <button type="submit">Add</button>
    </form>
    <ul>
      {% for task in tasks %}
        <li>
          {{ task.title }}
          {% if task.completed %}(Done){% endif %}
          <a href="{% url 'delete_task' task.id %}">Delete</a>
        </li>
      {% empty %}
        <li>No Task yet</li>
      {% endfor %}
    </ul>
  </body>
</html>
